* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Cabeçalho */
.site_header {
    background: linear-gradient(to right, #4f8d51, #3c6f3d);
    color: white;
    text-align: center;
    padding: 30px 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.site_header h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.site_header p {
    font-size: 18px;
}

/* Corpo */
.corpo {
    padding: 30px 20px;
    max-width: 800px;
    margin: auto;
}

.campo {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.campo h2 {
    font-size: 24px;
    color: #4f8d51;
    margin-bottom: 10px;
}

.campo p {
    font-size: 16px;
    line-height: 1.6;
}


.accordion-btn {
    background-color: #4f8d51;
    color: white;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border: none;
    text-align: left;
    font-size: 18px;
    transition: background-color 0.3s;
    border-radius: 5px;
    margin-bottom: 5px;
}

.accordion-btn:hover {
    background-color: #3c6f3d;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    background-color: white;
    border-left: 4px solid #4f8d51;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 0 15px;
    transition: max-height 0.5s ease, padding 0.3s ease;
}

.accordion-content.active {
    max-height: 500px; /* altura suficiente para seu conteúdo */
    padding: 15px;
}